<h1 class="heading">Stray Cat Feeding Location Finder</h1>
{{#each locationDetails}}
<div class="location">
    <h2>{{this.name}}</h2>
    <div class="map-container">
        <iframe src="{{this.location_iframe}}" allowfullscreen></iframe>
    </div>
</div>
{{/each}}
