<div class="container-lg">
    <h1 class="text-center">Information</h1>
    <hr>
    <!-- Form to record details -->
    <form action="/add_feeding_station" method="post">
        <div class="mb-3">
            <label for="food_level" class="form-label">Food Level (%)</label>
            <input type="number" class="form-control" id="food_level" name="food_level" min="0" max="100" required>
        </div>
        <div class="mb-3">
            <label for="water_level" class="form-label">Water Level (%)</label>
            <input type="number" class="form-control" id="water_level" name="water_level" min="0" max="100" required>
        </div>
        <div class="mb-3">
            <label for="cat_number" class="form-label">Number of Cats</label>
            <input type="number" class="form-control" id="cat_number" name="cat_number" min="0" required>
        </div>
        <div class="mb-3">
            <label for="healthIssues" class="form-label">Health Issues</label>
            <select class="form-select" id="healthIssues" name="healthIssues" required>
                <option value="none">None</option>
                <option value="minor">Minor</option>
                <option value="critical">Critical</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Critical Items</label>
            <div class="mb-3">
                <label for="litterBox" class="form-label">LitterBox</label>
                <select class="form-select" id="litterBox" name="litterBox" required>
                    <option value="not available">Not Available</option>
                    <option value="damaged">Damaged</option>
                    <option value="available">Available</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="foodBowl" class="form-label">Food Bowl</label>
                <select class="form-select" id="foodBowl" name="foodBowl" required>
                    <option value="not available">Not Available</option>
                    <option value="damaged">Damaged</option>
                    <option value="available">Available</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="waterBowl" class="form-label">Water Bowl</label>
                <select class="form-select" id="waterBowl" name="waterBowl" required>
                    <option value="not available">Not Available</option>
                    <option value="damaged">Damaged</option>
                    <option value="available">Available</option>
                </select>
            </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <select class="form-select" id="sitename" name="sitename" required>
                <option value="" disabled selected>Select Location Name</option>
                {{#each locations}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location </label>
            <input type="textbox" class="form-control" id="location" name="location" required>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" id="status" name="status" required>
                <option value="none">Active</option>
                <option value="minor">Inactive</option>
            </select>
        </div>
        <input type="hidden" value={{siteNum}} id="sitenumber" name="sitenumber">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>