<div class="container-lg">
    <h1 class="text-center">Information</h1>
    <hr>
    <!-- Form to record details -->
    <form action="/information" method="post">
        <div class="mb-3">
            <label for="foodPlaced" class="form-label">Food Placed</label>
            <input type="text" class="form-control" id="foodPlaced" name="foodPlaced" required>
        </div>
        <div class="mb-3">
            <label for="waterPlaced" class="form-label">Water Placed</label>
            <input type="text" class="form-control" id="waterPlaced" name="waterPlaced" required>
        </div>
        <div class="mb-3">
            <label for="currentFood" class="form-label">Current Food Amount</label>
            <input type="text" class="form-control" id="currentFood" name="currentFood" required>
        </div>
        <div class="mb-3">
            <label for="numberOfCats" class="form-label">Number of Cats</label>
            <input type="text" class="form-control" id="numberOfCats" name="numberOfCats" required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <select class="form-select" id="location" name="location" required>
                <option value="" disabled selected>Select Location</option>
                {{#each locations}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>