<h1>Reset Your Password</h1>
 {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
 {{/if}}
<form method="post">
    <input class="form-control" type="password" placeholder="Password" id="password1" name="passwordInput" required><br>
    <input class="form-control" type="password" placeholder="Repeat Password" id="password2" name="passwordrepeatInput" required><br>
    <input type="submit" value="Reset Password" class="btn btn-primary mt-2">

</form>